.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
#canvas{
    max-width: 100%;
    height: auto;
}
#divCanvas{
    grid-area: canvas;
    grid-column: 1 / 5;
}
#estadoContenedores{
    grid-area: estado;
    background-color: azure;
    grid-column: 5 / 7;
}

